{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

<article class="article
    {% if article.is_featured %} featured{% endif %}
    {% if not article.published %} unpublished{% endif %}">
    {% if not detail_view %}
    <div class="card mb-3" style="width: 80rem;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{% if article.featured_image_id %}{% thumbnail article.featured_image 720x360 crop subject_location=article.featured_image.subject_location %}{% else %}{% static 'img/no-image-available.jpg' %}{% endif %}"
                     class="card-img-top" alt="This Post has no image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
                        <h2 class="card-title">
                            {% render_model article "title" %}
                        </h2>
                    </a>
                    {% if article.lead_in %}
                    <h5 class="card-text">
                        {% if not detail_view %}
                        {% render_model article "lead_in" "" "" "truncatewords:'20'|striptags" %}
                        {% else %}
                        {% render_model article "lead_in" %}
                        {% endif %}
                    </h5>
                    {% endif %}

                    <hr>
                    {% include "aldryn_newsblog/includes/author.html" %}
                </div>
            </div>
        </div>
    </div>


    {% endif %}

    {% if detail_view %}
    {% render_placeholder article.content language placeholder_language %}
    {% endif %}
</article>

<!--&lt;!&ndash;-->
<!--    <div class="card" style="width: 30rem;">  &lt;!&ndash; class="post-preview" &ndash;&gt;-->
<!--        <img src="{% if article.featured_image_id %}{% thumbnail article.featured_image 720x360 crop subject_location=article.featured_image.subject_location %}{% else %}{% static 'img/no-image-available.jpg' %}{% endif %}" class="card-img-top" alt="This Post has no image">-->
<!--        <div class="card-body">-->
<!--            <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">-->
<!--                <h2 class="card-title">-->
<!--                    {% render_model article "title" %}-->
<!--                </h2>-->
<!--            </a>-->
<!--                {% if article.lead_in %}-->
<!--                <h5 class="card-text">-->
<!--                    {% if not detail_view %}-->
<!--                    {% render_model article "lead_in" "" "" "truncatewords:'20'|striptags" %}-->
<!--                    {% else %}-->
<!--                    {% render_model article "lead_in" %}-->
<!--                    {% endif %}-->
<!--                </h5>-->
<!--                {% endif %}-->
<!--            <hr>-->
<!--            {% include "aldryn_newsblog/includes/author.html" %}-->
<!--        </div>-->
<!--    </div>-->
<!--    <hr>-->


<!--&ndash;&gt;-->
